* {
    margin: 0;
    padding: 0;
}

/* styles to apply to body */

body {
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
}

.flex-container {
    width: 1000px;
    margin: 0 auto;
}

.flex-container,
.nav-links,
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    height: 80px;
    background-color: #222;
    color: #fff;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
}

.flex-container.main {
    display: flex;
    
}

.col-2 {
    flex: 1;
    margin-right: 20px;
    padding: 30px;
}

.col-1 {
    flex: 2;
    padding: 30px;
    

}

.card {
    background-color: #fff;
    border: 3px solid black;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}


.badge {
    font-size: 1rem;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    background-color: #999;
    border-radius: 12px;
    margin-right: 10px;
}
.btn{
    background-color: yellow;
    box-shadow: 5px 5px #000000;
    padding: 3px;
}

.ali {
    display: flex;
    justify-content: space-between;
}

.avatar{
    border-radius: 50%;
    background-color: #fff;
    height: 190px;
    padding: 3%;
    margin-top: 20px;
    margin-left: 20px;
}
span{
    text-decoration: underline;
    color: blue

}
.center {
    justify-content: center;
    display: flex;
}
.meio{
    text-align: center;
}